<body>
    <div class="container back">
        <div class="row">
          <div class="col-sm-10">
              <div class="col-lg-20 col-lg-offset-2">
                  
                  <div class="myform" style="margin-bottom: 50px;">
                      <form>
                        <fieldset name="E-Challan" legend="E-Challan">
                          <legend>E-Challan</legend>
                          <p style="font-size:20px; color:#538b01; font-weight:bold; font-style:italic;">
                            Vehicle Number: <span style="color: black; font-style: bold"> {{ veh_no }}</span></p>
                          <p style="font-size:20px; color:#538b01; font-weight:bold; font-style:italic;">Owner Name: <span style="color: black; font-style: bold">{{ owner_name }}</span></p>
                          <p style="font-size:20px; color:#538b01; font-weight:bold; font-style:italic;">Serial Number: <span style="color: black; font-style: bold"> {{ Sno }}</span></p>
                          <p style="font-size:20px; color:#538b01; font-weight:bold; font-style:italic;">Challan ID: <span style="color: black; font-style: bold"> {{ Challan_id }}</span></p>
                          <p style="font-size:20px; color:#538b01; font-weight:bold; font-style:italic;">Date of offence: <span style="color: black; font-style: bold">{{ OffenceDate }}</span></p>
                          <p style="font-size:20px; color:#538b01; font-weight:bold; font-style:italic;">Place: <span style="color: black; font-style: bold">{{ Place }}</span></p>
                          <p style="font-size:20px; color:#538b01; font-weight:bold; font-style:italic;">Traffic PS limits: <span style="color: black; font-style: bold"> {{trafficPSlimits}}</span></p>
                          <p style="font-size:20px; color:#538b01; font-weight:bold; font-style:italic;">Offence Description: <span style="color: black; font-style: bold">{{Offence_Desc}}</span></p>
                          <p style="font-size:20px; color:#538b01; font-weight:bold; font-style:italic;">Fine amount: <span style="color: black; font-style: bold">{{Fine_amt}}</span></p>
                          <p style="font-size:20px; color:#538b01; font-weight:bold; font-style:italic;">User Charges: <span style="color: black; font-style: bold">{{User_charges}}</span></p>
                          <p style="font-size:20px; color:#538b01; font-weight:bold; font-style:italic;">Total: <span style="color: black; font-style: bold">{{Total}}</span></p>
                          <p style="font-size:20px; color:#538b01; font-weight:bold; font-style:italic;">Officer Name: <span style="color: black; font-style: bold"> {{Officer_name}} </span></p>
                        </fieldset>
                      </form>
                  </div>
              </div>
            </div>
        </div>
    </div>
</body>  