<body>
    <div class="container">
        <div class="row" style="margin-bottom: 20px;">
          <div class="col-sm-9">
              <div class="col-lg-32 col-lg-offset-4"><br><br>
                  <div class="myform">
                      <form>
                        <fieldset>
                          <legend>Signal Registration</legend><br>
                          <div class="form-group">
                              <label for="junction"><font color="brown">JUNCTION</font></label>
                              <input type="text" id="junction" class="form-control"  placeholder="enter junction">
                          </div>
                          <div class="form-group">
                              <label for="PS"><font color="brown">PS CIRCLE</font></label>
                              <input type="text" id="PS" class="form-control"  placeholder="enter PS cirlce">
                          </div>
                          <div class="form-group">
                              <label for="city"><font color="brown">CITY</font></label>
                              <input type="text" id="city" class="form-control"  placeholder="enter city">
                          </div>
                          <div class="form-group">
                              <label for="type"><font color="brown">SIGNAL TYPE</font></label>
                              <input type="text" id="type" class="form-control"  placeholder="enter type of signal">
                          </div>
                          <div class="form-group">
                              <label for="oid"><font color="brown">OFFICER ID</font></label>
                              <input type="text" id="oid" class="form-control"  placeholder="enter ID of officer">
                          </div>
                          <button type="submit" class="btn btn-success navbar-btn-lg form-control">Register</button><br><br>
                          <button type="reset" class="btn btn-danger navbar-btn-lg form-control">Reset</button>

                        </fieldset>
                      </form>
                  </div>
              </div>
          </div>
        </div>
    </div>
</body>
